@media only screen and (max-width: 600px) {
    .form-output {
        width: 100%;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        padding: 2%;
    }
}


@media only screen and (max-width: 600px) {
    .input {
        width: 100%;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        padding: 2%;
    }
}

.io-container {
    text-align: center;
    display: flex;
    padding-left: 90px;
}

@media only screen and (max-width: 600px) {
    .io-container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 8vh 4vw;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
    }
}

.heading {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


* {
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffc13d;
}

.form-input {
    width: 31.25em;
    background-color: #f8f8f8;
    padding: 5em 3.75em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.7em;
    box-shadow: 0 1em 4em rgba(71, 50, 4, 0.3);
}

input,
#submit {
    border: none;
    outline: none;
    display: block;
}

input {
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    padding: 1em 0 0.5em 0.5em;
    border-bottom: 2px solid #202020;
}

#run {
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 7em;
    background-color: #ffc13d;
    padding: 0.8em 0;
    margin-top: 2em;
    border-radius: 0.3em;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #ffc13d;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

.loader-text {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}


@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}



