{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/style.index.css">
<title>(VNUK-SIGNED) Home</title>
{% endblock %}

{% block content %}
<section class="header">
    <nav>
        <img src="../static/images/vnuk_logo.png" alt="">
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/" style="font-size: 16px">HOME</a></li>
                <li><a href="#contact-us" style="font-size: 16px">CONTACT US</a></li>
                <li><a href="#demo" style="font-size: 16px">INSTRUCTION</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <br> <br>
        <h1>Welcome to VNUK-SIGNED!</h1><br>

        <a href="/input_form" class="hero-btn" style="font-size: 16px">Watch Now</a><br><br>
        <p style="font-size: 20px">
            Sign Language Poses Representation Producer for YouTube Videos (subtitle) in all languages!<br>
            This version: Swiss-German Sign Language (DSGS)<br>
        </p>
    </div>


</section>

<section id="demo">
    <h1>INSTRUCTION</h1>
    <p>
        How to use this application? Watch the user guide below:
    </p>
    <div class="vid">
        <video width="840" height="680" controls>
            <source src="../static/images/Demo.mp4" type="video/mp4">
        </video>
    </div>
</section>

<!-----------JavaScript for Toggle menu - Stackoverflow---------->
<script>

    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>

<section class="footer" id="contact-us">
    <h4>About Us</h4>
    <p>Greetings! We are <a href="https://github.com/MinhHieu-Nguyen-dn">Hieu Nguyen</a> and
        <a href="https://github.com/DavidTram0311">Dat Tram</a>
        <br>Senior Data Science students at <a href="https://vnuk.edu.vn/">VNUK Institute for Research and Executive Education</a>
        <br>This is our graduation project to support the Deaf Community to understand YouTube content.</p>


</section>

{% endblock %}