{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/style.forms.css">
<title>(VNUK-SIGNED) Select Video</title>
{% endblock %}

{% block content %}
<h1 class="heading">What do you want to watch now?</h1>
<div class="io-container">
    <div class="form-input">
        <form class="grid" method="POST" action="#">
            <label>Input YouTube URL: <br>(must have subtitles available) </label>
            <input type="text" placeholder="Youtube URL..." id="youtube-url" name="youtube-url"/>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                      <p class="{{ category }}" style="color: red">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button id="run" type="submit">Run</button>
        </form>
    </div>
</div>

{% endblock %}