{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/style.forms.css">
<script src="../static/js/script.js" defer></script>
<title>(VNUK-SIGNED) Watch</title>
{% endblock %}

{% block content %}
<h1 class="heading">Here you go! Enjoy the watch!</h1>
<div class="io-container">
    <br>
    <br>
    <iframe width="700" height="500" src="https://www.youtube.com/embed/{{ url }}?autoplay=1" frameborder="1px"
            allowfullscreen allow="autoplay"></iframe>
    <div class="gif">
        <img src="../static/images/gif/{{ url }}.gif" width="500" height="510" alt="gif">
        <br>
        <a href="../static/images/gif/{{ url }}.gif" download>
            <button>Download GIF</button>
        </a>
    </div>

</div>


<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Waiting for GIF generation...</div>
</div>
{% endblock %}