{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/style.forms.css">
<title>Translated</title>
{% endblock %}

{% block content %}
<h1 class="heading">Video Translation</h1>
<div class="io-container">
    <br>
    <br>
    <iframe width="700" height="500" src="https://www.youtube.com/embed/{{ url }}?autoplay=1" frameborder="1px" allowfullscreen allow="autoplay"></iframe>
    <img src="../static/images/gif/pose.gif" width="600" height="550" alt="gif">
</div>
{% endblock %}